/* Gaya khusus untuk halaman kampanye */
#formKampanye {
    margin-bottom: 2rem;
}

#listKampanye li {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listKampanye li button {
    margin-left: 1rem;
}

#pagination {
    margin-top: 1rem;
    text-align: center;
}

#pagination button {
    margin: 0 0.5rem;

}
/* Gaya Pop-up */
.popup {
    display: none; /* Sembunyikan pop-up secara default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang transparan */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

.popup-content .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup-content .close:hover {
    color: #f44336; /* Warna merah saat hover */
}